/******* CUSTOM ST. CATHERINE'S STYLES ********/
body { overflow-x: hidden; }
h2 {padding:5px 0px 0px; }
h3 img { padding: 5px 20px; float: left; }
ul {list-style: circle;}
/* header.php */
[class^="icon-"], [class*=" icon-"]{background:none;}
[class*="span"] {margin-left:0px;}



.nav .dropdown-toggle .caret { border-top: 4px solid red; }
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
    border-top-color: red;
    border-bottom-color: red;
}

.nav a { color: #fff; }
/*.nav-pills {margin-top: 50px;}*/

.masthead-wrapper { width:100%; }
.masthead-wrapper img { padding: 30px 0px; }
.motto img { padding: 20px 0px 20px 50px; }
.motto { padding: 10px 0px 0px; }
.motto h3 {  font-family: 'Great Vibes', cursive; line-height: 1;font-size: 22pt;font-weight: normal; padding-left: 50px; }


.navbar-wrapper { 
    background-color: #000; 
	
    /*position: absolute; 
	top: 140px; */
    
    left: 0; 
    width: 100%; 
    border-top: solid 1px #eaeaea;
    /*border-bottom: solid 3px #ff7373;*/
    opacity: 50%;
    padding: 2px;
}
.nav { margin-bottom: 0px; }
.nav > li > a:hover, .nav > li > a:focus { background-color: #000; }
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    background-color: #fff;
    border-color: red;
    color: #000;
}
.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
    border-bottom-color: red;
    border-top-color: red;
    opacity: 1;
}

.carousel-wrapper { 
    background-color: #d0d0d0; /*#a60000; */
	background: url('images/ornament_pattern.jpg');
    /*position: absolute;*/
    left: 0; 
    width: 100%; 
    
    /*border-bottom: solid 3px #ff7373;*/
    opacity: 50%;
}

.carousel { margin-bottom: 0px;}
.carousel-bg { background-color: rgba(0,0,0, .5); }
.carousel-bg h4 { color: #fff; }
.carousel-bg a { color: #F8F8FF; }
.carousel-bg em { color: #cacaca; font-size: 80%; margin-right: 5px; }
.carousel-static { margin-left: 20px; }


.index-content { /*position: absolute;*/ }

.content-wrapper { min-height: 350px; width:100%;}
.entry-content { padding-top:30px; }
hr { margin: 0px 0px; }

/*.container { border-left: 1px solid #cacaca; border-right: 1px solid #cacaca; } */

.footer-wrapper { 
    /*background: url('images/footer-bg.png') repeat-x #fff;*/
    background: #101010;
    min-height: 400px;
    width: 100%; 
    padding: 2px;
    border-top: solid 0px #ff4040;
    color: #fff;
}
.footer-wrapper a { color: #eaeaea; }
.footer-wrapper { color: #cacaca; font-size: 90%; }
.footer-inner {  padding-top: 20px; }
.footer-inner ul { list-style: none; }

.announcements { padding-top: 10px; margin-left: 0px; }
.announcements li { padding: 3px 0px; }
.announcements { color: white; }

.li-news-date { padding-right: 5px; }